<header class="container-fluid col-md-12 navbar navbar-fixed-top">
	<div class="col-md-10 col-md-offset-1">
		<div class="navbar-header">
			<button class="btn navbar-toggle btn-custom" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="glyphicon glyphicon-chevron-down "></span>
			</button>
		    <h1 class="col-sm-12 col-xs-8">Bharat Jay</h1>
		</div>
	    <nav class="navbar-collapse collapse" role="navigation">
	        <ul class="nav navbar-nav navbar-right">
	        	<li class="nav"><a href="#portfolio" du-smooth-scroll>Portfolio</a></li>
	        	<li class="nav"><a href="#about_me" du-smooth-scroll>About me</a></li>
	        	<li class="nav"><a href="#contact_me" du-smooth-scroll>Contact me</a></li>	        	
	        </ul>
	    </nav>
	</div>
</header>